 
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .glow:hover {
    text-shadow: 
        0 0 20px #fff, 
        0 0 30px #fff;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 
        0 0 4px #fff; 
        /*
        0 0 30px #8a00e6, 
        0 0 40px #8a00e6, 
        0 0 50px #8a00e6, 
        0 0 60px #8a00e6, 
        0 0 70px #8a00e6;
        */
    }
    
    to {
      text-shadow: 
      0 0 4px #fff, 
      0 0 8px #fff;
    }
  }