/*
First ensure that all HTML elements have the box-sizing property set to border-box. 
This makes sure that the padding and border are included in the total width and height of the elements.
*/
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/*
Note: If an element contains only floated elements, its height collapses to nothing. 
If you want it to always be able to resize, so that it contains floating 
elements inside it, you need to self-clear its children. This is called clearfix, 
and one way to do it is to add clear to a replaced ::after pseudo-element on it.

.row::after {

    /* blablalnba + "" 
    content: "";
    
    /*Is a keyword indicating that the element is moved down to clear past both left and right floats.
        
    clear: both;
    
    display: table;
}
*/

.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="col-"] {

    float: left;
    width: 100%;

}   /* smartphones */
  
@media only screen and (max-width: 600px) { 
    h1 { font-size: 4rem;}
}

@media only screen and (min-width: 600px) {
    h1 { font-size: 6rem;}
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}  /* tablets */
  
@media only screen and (min-width: 768px) {
    h1 { font-size: 7rem;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}   /* desktops */

/*
@media screen and (max-width: 320px) {
    
}


@media screen and (max-width: 480px) {}

@media screen and (max-width: 600px) {
    #banner { display: none; }
    #asides { display: none; }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1200px) {}
*/