* {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Bellefair');
body {
  background: black;
  font-size: 14pt;
  color: aliceblue;
  font-family:'FontAwesome'
}

#aside-container {
  position: sticky;
  position: -webkit-sticky;
  height: 128px;
  width: 128px;
}

aside {
  overflow: auto;
  
  width: 24vh;
  padding: 0px 2vh;
  margin-left: 8vh;
  float: left;
  font-style: italic;
  background-color: lightgray;
}


.hideAStyle {
  text-decoration: none;
}

header#banner {
  position: relative;
  height: 100vh;
  text-align: center;
  top: 50%;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;  
}

section#post-container {
  padding: 2vh 10vh 2vh 39vh; 
}

footer {
  margin-top: 100%;

  left: 0;
  bottom: 0;
  width: 100%;

  background-color: #000000;
}

#footer-image {
  height: 319px;
  width: 100%;

  background-image: url(../img/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}